{
    "log": {
        "sumologic": {
            "host": null,
            "path": null
        }
    },
    "oauth": {
        "clientSecret": null
    },
    "xola": {
        "apiKey": null
    }
}